			<div class="item active"> <!-- need for all items to be active initially in order for jQuery dotdotdot to execute then hide non-active items post dotdotdot. -->	
				<%= render partial: 'videos/video_template', object: video, as: 'video' %>
				
				<!-- venue and event information is not displayed in carousel when user is viewing tearsheet -->
				<% if (params[:action] != 'tearsheet') %>
		
					<% if video.venue_events.any? %>
					
						<!-- Event name and description-->		
						<div class="carousel-caption">
							<h2><strong><%= video.venue_event_name %></strong></h2>
							
							<!-- class: 'dotdotdot' calls jQuery.dotdotdot plugin to truncate description -->
							<div class='dotdotdot'>
								<p><%= video.description %></p>
							</div>	
							
							<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn More</a></p>
						</div>
					<% end %>
						
					<!-- Venue name and neighborhood -->
					<div class="carousel-caption venue">
						<h2><strong><%= video.venue.name %></strong></h2>
						<p><em><%= video.neighborhood.name %></em></p>
					</div>
				<% end %>
				
				<!-- Video live/recorded status-->
				<% if video.live == true %>
					<div class="status color-lightest">
						LIVE
					</div>
				<% else %>
					<div class="status">
						RECORDED
					</div>
				<% end %>
				
			</div> <!-- item -->