			<div class="item active"> <!-- need for all items to be active initially in order for jQuery dotdotdot to execute then hide non-active items post dotdotdot. -->	
				<!-- For HTML5 Video tag info, see http://www.htmlgoodies.com/html5/client/how-to-embed-video-using-html5.html#fbid=y2nyMm_BHEv -->
				<%= tag("video", {controls: false, autoplay: false, loop: true, muted: false, autobuffer: true}, open: true) %>
					<%= tag("source", src: "https://s3.amazonaws.com/barfly_full_videos/"+video.file_name+".mp4") %> <!-- AVC(H.264) format -->
<% if false %>

					<source src='https://s3.amazonaws.com/barfly_full_videos/benchmark.mp4' type='video/mp4' /> <!-- AVC(H.264) format -->			
					<source src="https://s3.amazonaws.com/barfly_full_videos/american_junkie.mp4" type="video/mp4" /> <!-- AVC(H.264) format -->
					<source src="https://s3.amazonaws.com/barfly_full_videos/old_town_pub.mp4" type="video/mp4" /> <!-- AVC(H.264) format -->
<% end %>					
					Your browser does not support the video tag.
				<%= tag("/video", {}, open: true) %>
				
				<% if (params[:action] == 'splash') %>
					<div class="carousel-caption">
						<h4><em><%= video.event_type_name %></em></h4>
						<h2><strong><%= video.venue_event_name %></strong></h2>
						
						<!-- class: 'dotdotdot' calls jQuery.dotdotdot plugin to truncate description -->
						<div class='dotdotdot'>
							<p><%= video.venue_event_description %></p>
						</div>	
						
						<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn More</a></p>
					</div>
					<div class="carousel-caption venue">
						<h2><strong><%= video.venue_name %></strong></h2>
						<p><em><%= video.neighborhood.name %></em></p>
					</div>
				<% end %>
				
			</div> <!-- item -->