<% if !venue.get_video(venue.id).nil? %> <!-- Some venues may not have videos.  These venues should not be displayed -->

					<!-- Venue Thumbnail -->
					<div class="col-xs-6 thumbnail-container">
					
						<!-- Thumbnail image-->
						<!-- data attribute in html is "modal_title" but the underscore is turned into a dash, generating "modal-title" for use in jquery -->
						<%= link_to({controller: "sessions", action: "tearsheet", id: venue.id }, class:"thumbnail thumbnail_session_tearsheet", data: { modal_title: venue.venue_name } ) do %>
							<%= image_tag(@bucket.objects[venue.get_video(venue.id).get_path("png", "large")].url_for(:get, { :expires => 20.minutes.from_now, :secure => true, :force_path_style => true }).to_s) %>
						<% end %>				
						<!-- Thumbnail content - Event info -->
								<div class="carousel-caption event">
									<h2><strong><%= venue.venue_event_name %></strong></h2>
									
									<!-- class: 'dotdotdot' calls jQuery.dotdotdot plugin to truncate description -->
									<div class='dotdotdot'>
										<p><%= venue.venue_event_description %></p>
									</div>	
<% if false %>
									<p><a class="btn btn-xs btn-primary" href="#" role="button">More</a></p>
<% end %>									
								</div>
							
						<!-- Thumbnail content - Venue info -->
						<div class="carousel-caption venue">
							<h2><%= venue.venue_name %></h2>&nbsp;
							<% if !venue.try(:distance).nil? %>
								<small>(<%= venue.distance.round(1) %> miles)</small>
							<% end %>	
							<p><em><%= venue.neighborhood.name %></em></p>
						</div>
						
					</div><!-- Venue Thumbnail -->
					
<% end %> <!-- Some venues may not have videos.  These venues should not be displayed -->