<!-- Modal -->
<div class="modal fade" id="geolocation_permissions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<%= render partial: 'geolocation_permissions_modal' %>
</div>

<!-- Modal -->
<div class="modal fade" id="geolocation_instructions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<%= render partial: 'geolocation_instructions_modal' %>
</div>

<% if false %>
	SQL:<%= @venues.to_sql %> <br>
<% end %>

<div class="container">
	<div class="row">
		<!-- Venue thumbnails -->
		<div id="dynamic-content" class="col-md-9">
		
			<div id="venues" class="row">

			</div>
									
			<!-- Pagination -->
			<div id="pagination-links" class="text-center">
				<%= will_paginate @venues %>
			</div>	
			
		</div>
		
		<!-- Sort and Filter -->
		<div id="filter-container" class="col-md-3">
			<%= render partial: 'filter_sort' %>
		</div>
	</div>
	
</div><!-- container -->