<!-- Modal -->
<div class="modal fade" id="modal_geolocation_permissions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<%= render partial: 'geolocation_permissions_modal' %>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_geolocation_instructions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<%= render partial: 'geolocation_instructions_modal' %>
</div>

<% if false %>			
	VENUE SQL:<%= @sql_venues %> <br>
<% end %>

<!-- Carousel -->
<div class="container">
	<div class="row">
		<!-- Thumbnails -->
		<div class="col-md-9">
			<div class="row" id="endless_list">
				<!--  Venue thumbnails are inserted here via AJAX call, locate_user(); -->
<% if false %>
				<%= render partial: 'thumbnails', collection: @venues, as: 'venue' || "There are no venues at the moment" %>
<% end %>
			</div>
			
			<%= will_paginate @venues %>
		</div>
		
		<!-- Sort and Filter -->
		<div class="col-md-3 vee-green">
			<%= form_tag home_path, :method => 'get' do %>
				<p>
					<%= text_field_tag :search, params[:search] %>
					<%= submit_tag "Search", :name => nil %>
				</p>
				
<% if false %>				
				<%= hidden_field_tag :sort_order, params[:sort_order], {id:'hidden_field_sort'} %>
<% end %>				
				<%= hidden_field_tag :latitude, params[:latitude], {id:'hidden_field_latitude'} %>
				<%= hidden_field_tag :longitude, params[:longitude], {id:'hidden_field_longitude'} %>
				
				<%= render partial: "sort" %>
			<% end %>
		
		</div>
	</div>
	
</div><!-- container -->