<div class="btn btn-glass">
					<div class="btn-date">
						<div class="date">
							<day-of-week><%= event.start_time.strftime("%a") %></day-of-week>
							<calendar-day><%= event.start_time.strftime("%e") %></calendar-day>
							<calendar-month><%= event.start_time.strftime("%B") %></calendar-month>
						</div>
						<div class="time">
							<%= event.start_time.strftime("%l:%M %p") %>
						</div>
					</div>	<!-- container -->

					<div class="btn-description">
						<div class="text-12">
							<% if params[:action] == 'tearsheet' %>
								<!-- Type of event -->
								<%= event.event.name %>
							<% else %>
								<%= link_to({controller: "sessions", action: "tearsheet", id: event.venue.id }, class:"rightPane", data: { title: event.venue.name }) do %>							
									<!-- Venue name + distance from user -->
									<%= event.venue.name %>
									<% if params.has_key?(:latitude) && !params[:latitude].blank? && params.has_key?(:longitude) && !params[:longitude].blank?%>
										(<%= event.distance.round(1) %> miles)<br>
									<% end %>
								<% end %>	
							<% end %>
						</div>
						
						<!-- Event name -->
						<div class="text-14">
							<%= event.name %>
						</div>
							<div class="time collapse">
							<%= event.start_time.strftime("%l:%M %p") %> - <%= event.end_time.strftime("%l:%M %p") %>
						</div>
						
						<!-- Event description -->
						<!-- class: 'dotdotdot' calls jQuery.dotdotdot plugin to truncate description -->
						<div id="event_<%= event.id %>" class="description dotdotdot">
							<%= event.description %>
						</div>
				
						
				</div> <!-- btn-description -->
</div>