<!-- 
	partial file for venue thumbnails that are viewed in the home page (i.e. views_mobile/sessions/_venues_list.html.erb)
-->
					<!-- Venue Thumbnail -->
					<div class="col-md-6 thumbnail-container">
						<!-- Thumbnail image-->
						<%= link_to({controller: "sessions", action: "tearsheet", id: venue.id }, class:"thumbnail rightPane", data: { title: venue.venue_name } ) do %>
							<%= image_tag(@bucket.objects[venue.get_video(venue.id).get_path("png", "large")].url_for(:get, { :expires => 20.minutes.from_now, :secure => true, :force_path_style => true }).to_s) %>							

							<!-- Video live/recorded status-->
							<% if false %>
								<div class="status color-lightest">
									LIVE
								</div>
							<% else %>
								<div class="status">
									RECORDED
								</div>
							<% end %>
					
							<!-- Venue info -->
							<div class="carousel-caption venue">
								<h4><%= venue.venue_name %></h4>
								<% if !venue.try(:distance).nil? %>
									<small>(<%= venue.distance.round(1) %> miles)</small>
								<% end %>	
								<p><em><%= venue.neighborhood.name %></em></p>							
							</div>

						<% end %>

<% if false %>						
						<!-- Play button -->
						<span class="glyphicon glyphicon-play-circle play_button" ></span>
						
						<!-- Thumbnail image-->
						<%= link_to({controller: "sessions", action: "tearsheet", id: venue.id }, class:"thumbnail") do %>
							<%= image_tag("https://s3.amazonaws.com/barfly_thumbnails/phone/"+venue.file_name+"-"+"00001"+".png")%>
						<% end %>
						
						<!-- Thumbnail video-->
						<%= tag("video", {class: "video-responsive"}, open: true) %>
							<%= tag("source", src: "https://s3.amazonaws.com/barfly_hls_streams/"+"phone"+"/"+"benchmark"+"/"+"1"+"/"+"benchmark"+".m3u8") %>
							<%= tag("source", src: "https://s3.amazonaws.com/barfly_mp4_streams/phone/"+"benchmark"+".mp4") %>
							<%= tag("source", src: "https://s3.amazonaws.com/barfly_full_videos/"+"benchmark"+".MOV") %>
							Your browser can't play this video.
						<%= tag("/video", {}, open: true) %>
<% end %>				

					</div><!-- Venue Thumbnail -->