<div class="row">
	<div class="col-xs-6 vee-red">
		<div class="row">
			<div class="col-xs-12">
				<%= image_tag(@bucket.objects[@video.get_path("png", "small")].url_for(:get, { :expires => 20.minutes.from_now, :secure => true }).to_s) %>
			</div>	
		</div>	
		<div class="row">
			<div class="col-xs-12">		
				<%= @video.created_at.strftime("%b %e, %Y %l:%M %p") %>
			</div>	
		</div>
	</div>
	<div class="col-xs-6 vee-red">
		<%= bootstrap_form_for(@video, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-9", html: {:id => "video-update-form"}) do |f| %>
			<input type="hidden" name="_method" value="patch">
			<%= f.text_field :name, label: "Name", placeholder: "Enter Video Name" %>
			<%= f.form_group :active, label: { text: "Active" } do %>
				<%= f.radio_button :active, 1, label: "True", inline: true, checked: (@video.active == true) %>
				<%= f.radio_button :active, 0, label: "False", inline: true, checked: (@video.active == false) %>
			<% end %>
		<% end %>	
	</div>
</div>