<!-- Need to wrap contents of <td> in <div> tags in order for .slideUp() to function properly: http://stackoverflow.com/questions/467336/jquery-how-to-use-slidedown-or-show-function-on-a-table-row -->
        <td>
			<div class="video_<%= video.id %>">
			<!--
				When using the S3 object method, url_for, the resulting url will follow the following format (i.e. domain-style):
				
					https://barfly-development.s3.amazonaws.com/uploads/video/attachment/204/old_town_pub.mp4
					
				Need to set the option, :force_path_style, to true when using url_for:
				
					https://s3.amazonaws.com/barfly-development/uploads/video/attachment/204/old_town_pub.mp4
					
				For more info on url_for, see http://docs.aws.amazon.com/AWSRubySDK/latest/AWS/S3/S3Object.html#url_for-instance_method	
				For more info on :force_path_style, see http://docs.aws.amazon.com/AWSRubySDK/latest/AWS/S3/S3Object.html
			-->
				<%= image_tag(@bucket.objects[video.get_path("png", "small")].url_for(:get, { :expires => 20.minutes.from_now, :secure => true, :force_path_style => true }).to_s) %>
			</div>	
		</td>
		<td>
			<div class="video_<%= video.id %>">
				<%= video.name %>
			</div>	
		</td>
		<td>
			<div class="video_<%= video.id %>">
				<% if video.active %>
				Active
				<% else %>
				Inactive
				<% end %>
			</div>	
		</td>
		<td>
			<div class="video_<%= video.id %>">
				<!-- :outputs is the key to an hash of an array.  Need to specify which element of the array to retrieve :duration_in_ms. -->
				<%= video.response[:outputs][0][:duration_in_ms]/1000 %> seconds
			</div>	
		</td>
		<td>
			<div class="video_<%= video.id %>">
				<%= video.created_at.strftime("%b %e, %Y %l:%M %p") %>
			</div>	
		</td>
        <td>
			<% if false %>
				URL: <%= @bucket.objects[get_path(video.attachment.url, "MOV")].url_for(:get, { :expires => 20.minutes.from_now, :secure => true }).to_s %>
				URL: <%= @bucket.objects[get_path(video.attachment.url, "mp4")].url_for(:get, { :expires => 20.minutes.from_now, :secure => true }).to_s %>
				URL: <%= @bucket.objects[get_path(video.attachment.url, "MOV")].url_for(:get, { :expires => 20.minutes.from_now, :secure => true }).to_s %>
			<% end %>	

			<div class="video_<%= video.id %>">
				<!-- data attribute in html is "modal_title" but the underscore is turned into a dash, generating "modal-title" for use in jquery -->
				<%= link_to video_path(video.id), class: "btn btn-primary button_video_show", data: { modal_title: video.name } do %>
					<span class="glyphicon glyphicon-eye-open"></span>
					<span>Watch</span>
				<% end %>
				
				<%= link_to edit_video_path(:id => video.id), class: "btn btn-success button_video_edit" do %>
					<span class="glyphicon glyphicon-pencil"></span>
					<span>Edit&nbsp;&nbsp;&nbsp;</span>
				<% end %>
				
	<% if false %>
				<!-- method: :delete option in link_to helper subverts the jquery delegated event for: $(document).on('click', '.video_delete_button', function(event){ event.preventDefault(); });
				<%= link_to video_path(:id => video.id), class: "btn btn-danger button_video_delete", data: { video: video.name }, method: :delete do %>
					<span class="glyphicon glyphicon-trash"></span>
					<span>Delete</span>
				<% end %>
	<% end %>
		
				<%= link_to video_path(:id => video.id), class: "btn btn-danger button_video_delete", data: { video: video.name } do %>
					<span class="glyphicon glyphicon-trash"></span>
					<span>Delete</span>
				<% end %>
			</div>	
		</td>