				<!-- MENU -->
				<nav id='menu' class='collapsible collapse'>
					<div class="section">
						HOME
					</div>
					<div class="btn-group-vertical">
						<%= link_to "Venues", home_path, class:"btn btn-glass", :data =>{ :button => "#venues" } %>
						<%= link_to "Events", events_list_path, class:"btn btn-glass", :data =>{ :button => "#events" } %>
						<%= link_to "Specials", "#", class:"btn btn-glass", :data =>{ :button => "#specials" } %>
					</div>
					
					<div class="section">
						MY ACCOUNT
					</div>
					<div class="btn-group-vertical">					
						<%= link_to "Profile", "#", class:"btn btn-glass", :data =>{ :button => "#profile" } %>
						<%= link_to "Log out", session_path(current_user.id), method: :delete, class:"btn btn-glass" %>
					</div>
					
					<div class="section">
						ADMIN
					</div>
					<div class="btn-group-vertical">
						<%= link_to "Venue Info", "#", class:"btn btn-glass", :data =>{ :button => "#venues_admin" } %>
						<%= link_to "Events", "#", class:"btn btn-glass", :data =>{ :button => "#events_admin" } %>
						<%= link_to "Features", "#", class:"btn btn-glass", :data =>{ :button => "#features_admin" } %>
						<%= link_to "Neighborhoods", "#", class:"btn btn-glass", :data =>{ :button => "#neighborhoods_admin" } %>
					</div>					
				</nav>