				<!-- MENU -->
						<% if !signed_in? %>
							<div class="header">
								<p>Welcome!  Join or log in to get full access to venue information</p>
								<div class="row">
									<div class="col-xs-6">
										<%= link_to "SIGN UP", new_user_path, class:"btn btn-md btn-primary", id: "sign_up_button", :data =>{ :page => "sign_up_form", :title => "Join Barfly", :button => "sign_up_button" } %>
									</div>
									<div class="col-xs-6">
										<%= link_to "LOG IN", new_session_path, class:"btn btn-md btn-primary", id: "log_in_button", :data =>{ :page => "log_in_form", :title => "Log In", :button => "log_in_button" } %>
									</div>
								</div>	
							</div>
						<% end %>

						<div class="section">
							HOME
						</div>

						<div class="btn-group-vertical">
							<%= link_to "Venues", home_path, class:"btn btn-glass #{ menu_selection(params[:action], 'home', 'active', default: true) }", :data =>{ :button => "#venues" } %>
							<div class="divider"></div>
							<%= link_to "Events", events_list_path, class:"btn btn-glass #{ menu_selection(params[:action], 'events_list', 'active') }", :data =>{ :button => "#events" } %>
						</div>
												
						<% if current_user %>
							<% if current_user.account_type == "admin" %>
								<div class="section">
									ADMIN
								</div>
								<div class="btn-group-vertical">
									<%= link_to "Venue Info", "#", class:"btn btn-glass", :data =>{ :button => "#venues_admin" } %>
									<div class="divider"></div>
									<%= link_to "Events", "#", class:"btn btn-glass", :data =>{ :button => "#events_admin" } %>
									<div class="divider"></div>
									<%= link_to "Features", "#", class:"btn btn-glass", :data =>{ :button => "#features_admin" } %>
									<div class="divider"></div>
									<%= link_to "Neighborhoods", "#", class:"btn btn-glass", :data =>{ :button => "#neighborhoods_admin" } %>
								</div>
							<% elsif current_user.account_type == "venue" %>
								<div class="section">
									VENUE
								</div>
								<div class="btn-group-vertical">
									<%= link_to "Venue Profile", edit_venue_path(current_user.venue_id) %>
									<div class="divider"></div>
									<%= link_to "Events", venue_events_path(:venue_id => current_user.venue_id) %>
									<div class="divider"></div>
									<%= link_to "Videos", videos_path(:venue_id => current_user.venue_id) %>
								</div>	
							<% end %>
							
							<!-- Venue Management dropdown menu -->						
							<div class="section">
								ACCOUNT
							</div>
							<div class="btn-group-vertical">
								<%= link_to "Profile", "#", class:"btn btn-glass", :data =>{ :button => "#profile" } %>
								<div class="divider"></div>
								
								<% if false %>
									<!-- 
										method: delete used in "log out" link probably triggers rails ujs gem which causes the link to be active, 
										even if bound to an event handler that uses preventDefault().  Thus, need to use:
										1.  remote => true - activates preventDefault() method in ujs associated to the <a> listener so only 
										ajax is triggered (see http://sts10.github.io/blog/2014/04/12/data-remote-true/) - calling destroy.js.erb
										2.  bind an event to trigger all other events that need to happen when a user logs out (close menu and show
										"please wait" preloader message)
										NOTE: ujs preventDefault() method does not impact touch events; it applies to click events only.
									-->
									<%= link_to "Log out", session_path(current_user.id), method: :delete, :remote => true, class:"btn btn-glass" %>
								<% end %>
								
								<%= link_to "Log out", session_path(current_user.id), class:"btn btn-glass", :data =>{ :button => "logout" } %>
							</div>

						<% end %>