<%# Non-administrator management menu - located on right side of navigation bar %>

<ul class="nav nav-pills nav-stacked">
	<% if current_user %>
	
		<li class= <%= navbar_active_helper('sessions') %> ><%= link_to "Venues", home_path %></li>
		<li class= <%= navbar_active_helper('sessions') %> ><%= link_to "Events", home_path(current_user.id) %></li>
		<li class= <%= navbar_active_helper('sessions') %> ><%= link_to "Specials", home_path(current_user.id) %></li>

		<!-- Venue Management dropdown menu -->
		<% if current_user.account_type == "venue" %>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.venue.name %> <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><%= link_to "Venue Profile", venue_path(current_user.venue_id) %></li>
					<li><%= link_to "Events", venue_events_path(:venue_id => current_user.venue_id) %></li>
				</ul>
			</li>
		<% end %>
		
		<!-- User dropdown menu -->
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi,&nbsp;<%= current_user.first_name %>! <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><%= link_to "My Profile", edit_user_path(current_user.id) %></li>
				<li><%= link_to "Log out", session_path(current_user.id), method: :delete %></li>
			</ul>
		</li>	
	<% else %>
		<!-- Signing up for new account modal window -->
		<li><%= link_to "Sign Up", '#', :"data-toggle" => "modal", :"data-target" => "#myModal" %></li>
		<!-- Log in dropdown form -->
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Log In<b class="caret"></b></a>
			<ul class="dropdown-menu padding">
				<%= bootstrap_form_for(:session, url: sessions_path, layout: :horizontal, label_col: "col-sm-0", control_col: "col-sm-12") do |f| %>
					<%= render 'sessions/login_form', f: f %>
					<%= f.form_group do %>  <!-- rails-bootstrap-forms - https://github.com/bootstrap-ruby/rails-bootstrap-forms -->
						<%= f.submit 'Sign In', class: 'btn btn-success btn-sm' %>
					<% end %>
				<% end %>
			</ul>
		</li>
	<% end %>
</ul>