		<div class="navbar-pane">
			<!-- Close (X) button -->
			<%= button_tag class:'navbar-button', id:'btn-close' do %>
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">Close</span>
			<% end %>
			<div class="title">
				<h4 class="dynamicTitle text-center"></h4>
			</div>	
		</div>
		
		<div class="body">
		
			<!-- Preloader -->	
			<%= render 'layouts/preloader' %>

			<!-- Dynamic Content -->
			<div id="slider-content" class="dynamicContent">
				<!-- content loaded by ajax -->
			</div>

			<!-- FILTER/SORT MENU -->
			<%= render 'layouts/filter_sort_menu' %>
			
			<!-- LOG IN FORM -->
			<%= render partial: 'layouts/log_in_form' %>
				
			<!-- SIGN UP FORM -->
			<%= render partial: 'layouts/sign_up_form' %>				

		</div>