		<div class="navbar-pane">
			<!-- Close (X) button -->
			<%= button_tag class:'navbar-button', id:'btn-close' do %>
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">Close</span>
			<% end %>
			<div class="title">
				<h4 class="dynamicTitle text-center"></h4>
			</div>	
		</div>
		<div class="body">
			<% if signed_in? %>
			
				<!-- FILTER/SORT MENU -->
				<div id="filter_sort_menu">
				
					<%= render partial: 'layouts/filter_sort_menu' %>
					
					<div id="apply_filter_navbar" class="navbar-fixed-bottom collapse">
						<%= button_tag "Apply Filters", id:"apply_filter_button", class:"btn btn-lg btn-primary col-xs-12", :data =>{ :page => "filter_sort_menu"} %>
					</div>
					
				</div>
				
			<% else %>
			
				<!-- LOG IN FORM -->
				<%= render partial: 'layouts/log_in_form' %>
				
				<!-- SIGN UP FORM -->
				<%= render partial: 'layouts/sign_up_form' %>
				
			<% end %>
		</div>