<!DOCTYPE html>
<html>
<head>
  <title>BarFly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <%# Removes auto-styling for telephone numbers in application:  http://stackoverflow.com/questions/3736807/remove-styling-of-telephone-numbers %> 
  <meta name="format-detection" content="telephone=no">
		
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<% if (cookies[:deviceType] == 'desktop' || cookies[:deviceType] == 'tablet' || cookies[:deviceType] == 'phone') %>
	<body>
<% else %>
	<body class='collapse'> <!-- use <body ontouchstart=""> to simulate a "click" when hitting a button for touch screen devices - http://stackoverflow.com/questions/3885018/active-pseudo-class-doesnt-work-in-mobile-safari -->
<% end %>	
	<header>
		<%= render 'layouts/navigation' %>
	</header>
			
	<div class="container">
		<%= render 'layouts/messages', flash: flash %>
	</div>
	
	<div id="slider-container"> <!-- slider needs slider-container -->
		<div id="main-content">
			<%= yield %>
		</div>
		<div id="hidden-content">
			<% if current_user %>
				<!-- MENU -->
				<%= render 'layouts/menu' %>
			<% else %>
				<!-- SIGN UP/LOG IN FORMS -->
				<%= render 'layouts/log_in_form' %>
				<%= render 'layouts/sign_up_form' %>
			<% end %>
		</div>
		
	</div>
		
	<footer>
		<%= render 'layouts/footer' %>
	</footer>

	<%= debug(params) if Rails.env.development? %>
	
</body>
</html>
