<!DOCTYPE html>
<html>
<head>
  <title>BarFly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <%# Removes auto-styling for telephone numbers in application:  http://stackoverflow.com/questions/3736807/remove-styling-of-telephone-numbers %> 
  <meta name="format-detection" content="telephone=no">
		
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<%= render 'layouts/navigation' %>
	</header>
			
	<div class="container">
		<%= render 'layouts/messages', flash: flash %>
	</div>
	<div class="slide-container">	
		<div class="slide-content">
			<%= yield %>
		</div>
		<div class="hidden-content">
			<% if current_user %>
				<%= render 'layouts/navigation_links' %>
			<% else %>
				<div id='log_in_form'>
					<div class="section">
						Sign in
					</div>
					<%= bootstrap_form_for(:session, url: sessions_path, layout: :horizontal, label_col: "col-sm-0", control_col: "col-sm-12") do |f| %>
						<%= render 'sessions/login_form', f: f %>
						<%= f.form_group do %> <!-- rails-bootstrap-forms - https://github.com/bootstrap-ruby/rails-bootstrap-forms -->
							<%= f.submit 'Sign In', class: 'btn btn-success col-xs-12' %>
						<% end %>	
					<% end %>
				</div>
				<div id='sign_up_form'>
					<div class="section">
						Join BarFly
					</div>
					<%= bootstrap_form_for(@user, url: users_path, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-7") do |f| %>
						<%= f.alert_message "Please fix the errors below:" %>
						<%= render 'users/form', f: f %>
						<%= f.form_group do %> <!-- rails-bootstrap-forms - https://github.com/bootstrap-ruby/rails-bootstrap-forms -->
							<%= f.submit 'Sign Up', class: 'btn btn-success col-xs-12' %>
						<% end %>	
						<p>By signing up, you agree to the Terms of Use and Privacy Policy</p>
					<% end %>
				</div>	
			<% end %>
		</div>
	</div>
		
	<footer>
		<%= render 'layouts/footer' %>
	</footer>

	<%= debug(params) if Rails.env.development? %>
	
</body>
</html>
