<!-- Mobile version -->

<!DOCTYPE html>
<html>
<head>
	<title>BarFly</title>
	
	<!-- Needed for responsive function: http://getbootstrap.com/css/#overview-mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
  
	<%# Removes auto-styling for telephone numbers in application:  http://stackoverflow.com/questions/3736807/remove-styling-of-telephone-numbers %> 
	<meta name="format-detection" content="telephone=no">
	
	<!-- for more info about stylesheet_link_tag and asset pipeline: https://www.reinteractive.net/posts/116-12-tips-for-the-rails-asset-pipeline -->		
	<%= stylesheet_link_tag "mobile-manifest", media: "all", "data-turbolinks-track" => true %>

	<!-- includes application.js (manifest file) -->
	<%= javascript_include_tag "application.js", "data-turbolinks-track" => true %>

	<%= csrf_meta_tags %>
</head>

<% if (cookies[:deviceType] == 'desktop' || cookies[:deviceType] == 'tablet' || cookies[:deviceType] == 'phone') %>
	<body>
<% else %>
	<body class='collapse'> <!-- use <body ontouchstart=""> to simulate a "click" when hitting a button for touch screen devices - http://stackoverflow.com/questions/3885018/active-pseudo-class-doesnt-work-in-mobile-safari -->
<% end %>	

	<header>
		<%= render 'layouts/navigation' %>
	</header>
			
	<div class="container">
		<%= render 'layouts/messages', flash: flash %>
	</div>
	
	<!-- MAIN CONTENT -->
	<div id="main-content">
	
		<div id="main_preloader" class="preloader">
			<div class="absolute-center">
				<%= image_tag("preloader.GIF", class:"image-center") %>
				<p class="text-center" >Loading...<p>
			</div>	
		</div>
		
		<div id="dynamic-content">
			<%= yield %>
		</div>
		
		<!-- Footer contains the translucent filter button -->
		<div id="navbar_bottom">
			<%= render 'layouts/filter_button' %>		
		</div>
	</div>
	
	<!-- MENU -->
	<div id="menu" class="collapse">
		<%= render 'layouts/menu' %>
	</div>

	<!-- Right Pane -->
	<div id="rightPane" class="collapse">
		<%= render 'layouts/rightPane' %>
	</div>

	<!-- Vertical Slider -->
	<div id="slider" class="collapse">
		<%= render 'layouts/slider' %>
	</div>
	
	<footer>
		<%= render 'layouts/footer' %>
	</footer>

	<%= debug(params) if Rails.env.development? %>

</body>
</html>
