<!-- Mobile version -->

<!DOCTYPE html>
<html>
<head>
	<title>BarFly</title>
	
	<!-- Needed for responsive function: http://getbootstrap.com/css/#overview-mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
  
	<%# Removes auto-styling for telephone numbers in application:  http://stackoverflow.com/questions/3736807/remove-styling-of-telephone-numbers %> 
	<meta name="format-detection" content="telephone=no">
	
	<!--
		Only application.css and application.js are available to use in stylesheet_link_tag without the need to precompile
		by default.	 Since app is not using "application.css" (using "mobile-manifest" instead), need to add "mobile-manifest.css"
		to the precompile list: config.assets.precompile += %w( site.css ) in "config/enviroment/production.rb".
		For more info about the above, see:
			http://stackoverflow.com/questions/14650846/why-is-this-new-css-manifest-file-not-being-compiled-during-heroku-slug-compilat
			https://www.reinteractive.net/posts/116-12-tips-for-the-rails-asset-pipeline			
			Precompiling assets: http://guides.rubyonrails.org/asset_pipeline.html#precompiling-assets
			Preprocessing: http://edgeguides.rubyonrails.org/asset_pipeline.html
	-->
	<%= stylesheet_link_tag "mobile-manifest", media: "all", "data-turbolinks-track" => true %>		

	<!-- includes application.js (manifest file) -->
	<%= javascript_include_tag "application.js", "data-turbolinks-track" => true %>

<% if false %>
	<!-- 	
		When "config.assets.debug" = true (in config/development.rb), the asset pipeline doesn't concatenate
		and preprocess assets; instead, the script include files are listed individually as seen below (vs.
		only having all of them located in just a single script file, "application.js".
		
		For some reason, the Android native/stock browser can't process these javascript files separately
		(results in the jquery rarely/intermittantly executing).  But, when "config.assets.debug" = false,
		the stock browser has no problems with using the javascript file, "application.js", processed by
		the asset pipeline.
	-->

	<script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>

	<script data-turbolinks-track="true" src="/assets/bootstrap/affix.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/bootstrap/alert.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/bootstrap/button.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/bootstrap/carousel.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/bootstrap/collapse.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/bootstrap/dropdown.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/bootstrap/tab.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/bootstrap/transition.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/bootstrap/scrollspy.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/bootstrap/modal.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/bootstrap/tooltip.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/bootstrap/popover.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/bootstrap.js?body=1"></script>

	<script data-turbolinks-track="true" src="/assets/altoids.js?body=1"></script>

<% end %>


	<%= csrf_meta_tags %>
</head>

<% if false %>

	<% if (cookies[:deviceType] == 'desktop' || cookies[:deviceType] == 'tablet' || cookies[:deviceType] == 'phone') %>
		<body>
	<% else %>
		<body class='collapse'> <!-- use <body ontouchstart=""> to simulate a "click" when hitting a button for touch screen devices - http://stackoverflow.com/questions/3885018/active-pseudo-class-doesnt-work-in-mobile-safari -->
	<% end %>	

<% end %>

<body>

	<header>
		<%= render 'layouts/navigation' %>
	</header>

	<!-- MAIN CONTENT -->
	<div id="mainPane">

		<!-- Preloader -->	
		<%= render 'layouts/preloader' %>

		<!-- anchor for status messages -->
		<div class="status_message">
		</div>

		<div class="body dynamicContent">
			<%= yield %>
		</div>
		
	</div>
	
	<!-- MENU -->
	<!-- 
		the div#menu element contains the .scrollable class because all content within the parental element
		uses momentum scrolling 
	-->
	<div id="menu" class="collapse scrollable">
		<%= render 'layouts/menu' %>
	</div>

	<!-- Right Pane -->
	<!-- 
		the div#rightPane element does not contain the .scrollable class because the rightPane may contain a
		.navbar-fixed-bottom element which will move if included within element with the .scrollable class 
		(i.e. the .navbar-fixed-bottom element must be outside of the element with the .scrollable class).  
		Thus, need to put .scrollable class within the specific parent element that uses momentum scrolling. 
		This may be in files loaded via ajax.
	-->
	<div id="rightPane" class="collapse">
		<%= render 'layouts/rightPane' %>
	</div>

	<!-- Vertical Slider -->
	<!-- 
		the div#slider element does not contain the .scrollable class because the slider may contain a
		.navbar-fixed-bottom element which will move if included within element with the .scrollable class 
		(i.e. the .navbar-fixed-bottom element must be outside of the element with the .scrollable class).  
		Thus, need to put .scrollable class within the specific parent element that uses momentum scrolling. 
		This may be in files loaded via ajax.
	-->
	<div id="slider" class="collapse">
		<%= render 'layouts/slider' %>
	</div>
	
	<footer>
		<%= render 'layouts/footer' %>
	</footer>

	<%= debug(params) if Rails.env.development? %>

</body>
</html>