<!-- Mobile version -->

<!DOCTYPE html>
<html>
<head>
	<title>BarFly</title>
	
	<!-- Needed for responsive function: http://getbootstrap.com/css/#overview-mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
  
	<%# Removes auto-styling for telephone numbers in application:  http://stackoverflow.com/questions/3736807/remove-styling-of-telephone-numbers %> 
	<meta name="format-detection" content="telephone=no">
	
	<!--
		Only application.css and application.js are available to use in stylesheet_link_tag without the need to precompile
		by default.	 Since app is not using "application.css" (using "mobile-manifest" instead), need to add "mobile-manifest.css"
		to the precompile list: config.assets.precompile += %w( site.css ) in "config/enviroment/production.rb".
		For more info about the above, see:
			http://stackoverflow.com/questions/14650846/why-is-this-new-css-manifest-file-not-being-compiled-during-heroku-slug-compilat
			https://www.reinteractive.net/posts/116-12-tips-for-the-rails-asset-pipeline			
			Precompiling assets: http://guides.rubyonrails.org/asset_pipeline.html#precompiling-assets
			Preprocessing: http://edgeguides.rubyonrails.org/asset_pipeline.html
	-->		
	<%= stylesheet_link_tag "mobile-manifest", media: "all", "data-turbolinks-track" => true %>

	<!-- includes application.js (manifest file) -->
	<%= javascript_include_tag "application.js", "data-turbolinks-track" => true %>

	<%= csrf_meta_tags %>
</head>

<% if (cookies[:deviceType] == 'desktop' || cookies[:deviceType] == 'tablet' || cookies[:deviceType] == 'phone') %>
	<body>
<% else %>
	<body class='collapse'> <!-- use <body ontouchstart=""> to simulate a "click" when hitting a button for touch screen devices - http://stackoverflow.com/questions/3885018/active-pseudo-class-doesnt-work-in-mobile-safari -->
<% end %>	

	<header>
		<%= render 'layouts/navigation' %>
	</header>
	
	<!-- MAIN CONTENT -->
	<div id="mainPane">

		<!-- Preloader -->	
		<%= render 'layouts/preloader' %>

		<!-- anchor for status messages -->
		<div class="status_message">
		</div>

		<div class="body dynamicContent">
			<%= yield %>
		</div>
		
	</div>
	
	<!-- MENU -->
	<div id="menu" class="collapse">
		<%= render 'layouts/menu' %>
	</div>

	<!-- Right Pane -->
	<div id="rightPane" class="collapse">
		<%= render 'layouts/rightPane' %>
	</div>

	<!-- Vertical Slider -->
	<div id="slider" class="collapse">
		<%= render 'layouts/slider' %>
	</div>
	
	<footer>
		<%= render 'layouts/footer' %>
	</footer>

	<%= debug(params) if Rails.env.development? %>

</body>
</html>