	<%= form_tag home_path, :method => 'get', :id => "form_sortFilter" do %>
<% if false %>
		<%= hidden_field_tag :sort_order, params[:sort_order], {id:'sort_order'} %>
		<%= hidden_field_tag :latitude, params[:latitude], {id:'hidden_field_latitude'} %>
		<%= hidden_field_tag :longitude, params[:longitude], {id:'hidden_field_longitude'} %>
<% end %>

		<div class="section">
			SEARCH
		</div>
		<div class="content">
			<%= text_field_tag :search, params[:search], class:"search_field", placeholder: 'Enter venue...' %>
		</div>

		<%= render partial: "sort_options" %>		
		<%= render partial: "filter_options" %>	
	<% end %>