					<ul class="nav navbar-nav">
						<li class= <%= navbar_active_helper('users') %> ><%= link_to "Users", users_path %></li>
						<li class= <%= navbar_active_helper('venues') %> ><%= link_to "Venues", venues_path %></li>						
						<li class="dropdown <%= navbar_active_helper('other') %> " >
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Other <b class="caret"></b></a>
							<ul class="dropdown-menu">
						
								<!-- Neighborhood dropdowns -->
								<li><%= link_to "Neighborhoods", neighborhoods_path %></li>
								
								<!-- Features dropdown -->			
								<li><%= link_to "Features", features_path %></li>
								
								<!-- Events dropdown -->			
								<li><%= link_to "Events", events_path %></li>
								
							</ul>
						</li>
					</ul>	