<!DOCTYPE html>
<html>
<head>
	<title>BarFly</title>

	<%# Removes auto-styling for telephone numbers in application:  http://stackoverflow.com/questions/3736807/remove-styling-of-telephone-numbers %> 
	<meta name="format-detection" content="telephone=no">

	<!-- for more info about stylesheet_link_tag and asset pipeline: https://www.reinteractive.net/posts/116-12-tips-for-the-rails-asset-pipeline -->
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag    "desktop-manifest", media: "all", "data-turbolinks-track" => true %>
	
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<header>
		<%= render 'layouts/navigation' %>
	</header>
	
	<div class="container">
		<%= render 'layouts/messages', flash: flash %>
	</div>
	
	<div id="main-content">

		<!-- Modal -->
		<%= render 'layouts/modal' %>
		
		<%= yield %>
	</div>	
	
	<footer>
		<%= render 'layouts/footer' %>
	</footer>

	<%= debug(params) if Rails.env.development? %>
	
</body>
</html>