<!DOCTYPE html>
<html>
<head>
  <title>BarFly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <%# Removes auto-styling for telephone numbers in application:  http://stackoverflow.com/questions/3736807/remove-styling-of-telephone-numbers %> 
  <meta name="format-detection" content="telephone=no">
		
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<%= render 'layouts/navigation' %>
	</header>

	<div class="container">
		<%= render 'layouts/messages', flash: flash %>
	</div>

	<%= yield %>
	
    <footer>
		<%= render 'layouts/footer' %>
    </footer>

	<%= debug(params) if Rails.env.development? %>
	
</body>
</html>
